
.book-details{
    display: flex;
    background: darkcyan;
    padding: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 13%);
    height: 150px;
    max-height: 200px;
    flex-direction:column;
    min-width: 300px;
}


.return-btn{
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 2rem;
    color: #1E1E1E;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
   
}

/* .return-btn .book-details:hover {
    background-color: #1E1E1E;

} */

